.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fullWidth{

  width: 100%;
  color: black;

}

.slotButton{

  margin: 5px;
  background-color: #ff4081;
  border: 0px;
  padding: 15px 30px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;


}

.slotButton:hover{
  
  background-color: #efe3e7;


}

.slotButtonBooked{

  margin: 5px;
  background-color: #ffd600;
  border: 0px;
  padding: 15px 30px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;


}

.slotsContainer{

  width: 70%;
  margin: 5px auto;


}